@model IEnumerable<ERP.Entities.Models.Color>

@{
    ViewBag.Title = "Colors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Colors</h2>

<p>
    @Html.ActionLink("Create New", "AddColor")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColorCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HexadecimalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ColorCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HexadecimalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>*@
    </tr>
}

</table>
