@model IEnumerable<ERP.Entities.Buyer>

@{
    ViewBag.Title = "Buyers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 

<p>
    @Html.ActionLink("Create New", "CreateBuyer")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SalesExecId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerBillingCityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerDeliveryAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerDeliveryCityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerBillingPinCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerDeliveryPinCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerMobileNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerPhoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerFaxNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerEmailId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerWebSite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerTINNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerPANNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerCSTNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerLSTNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerGSTNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerServiceTaxNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ECCCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Range)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Division)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Commissionarate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactPersonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactPersonMobileNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactPersonEmailId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SuperUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesTaxFormId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoadPermitNoReq)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxPerc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedByUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SalesExecId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerBillingCityId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerDeliveryAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerDeliveryCityId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerBillingPinCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerDeliveryPinCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerMobileNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerPhoneNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerFaxNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerEmailId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerWebSite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerTINNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerPANNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerCSTNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerLSTNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerGSTNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerServiceTaxNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ECCCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Range)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Division)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Commissionarate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactPersonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactPersonMobileNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactPersonEmailId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SuperUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesTaxFormId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoadPermitNoReq)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxPerc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedByUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BuyerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BuyerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BuyerId })
        </td>
    </tr>
}

</table>
