@model IEnumerable<ERP.Entities.Product>

@{
    ViewBag.Title = "Products ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 

<p>
    @Html.ActionLink("Create New", "AddProduct")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductSubGroupId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UOMMainId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TariffCodeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GodownId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Packing)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MRP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AbatmentPercentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasicPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductGrossWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductNetWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinimumStockLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaximumStockLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxableFlag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxPercentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExciseableFlag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExcisePerc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartNoFlag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BatchNoFlag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiryDateFlag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FactoryFlag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReOrderLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpeningQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpeningValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsMultipleSKUs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsMultipleColors)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductSubGroupId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UOMMainId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ColorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TariffCodeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GodownId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Packing)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MRP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AbatmentPercentage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BasicPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrandName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductGrossWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductNetWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinimumStockLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaximumStockLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxableFlag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxPercentage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExciseableFlag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExcisePerc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartNoFlag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BatchNoFlag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpiryDateFlag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FactoryFlag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReOrderLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpeningQty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpeningValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsMultipleSKUs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsMultipleColors)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductID })
        </td>
    </tr>
}

</table>
