@model IEnumerable<ERP.Entities.Product>

@{
    ViewBag.Title = "Products ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 

<p>
    @Html.ActionLink("Create New", "AddProduct")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>       
        <th>
            @Html.DisplayNameFor(model => model.ProductSubGroup.ProductSubGroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductType.TypeName)
        </th>      
        <th>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.MRP)
        </th>       
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>       
        <th>
            @Html.DisplayNameFor(model => model.BrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>     
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>      
        <td>
            @Html.DisplayFor(modelItem => item.ProductSubGroup.ProductSubGroupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductType.TypeName)
        </td>     
        <td>
            @Html.DisplayFor(modelItem => item.ProductDescription)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.MRP)
        </td>     
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>      
        <td>
            @Html.DisplayFor(modelItem => item.BrandName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
      
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductID }) |
            @Html.ActionLink("Add SKU", "AddProductSkus", new { id = item.ProductID })
            @Html.ActionLink("Add Colors", "AddProductColors", new { id = item.ProductID })
        </td>
    </tr>
}

</table>
