@model IEnumerable<ERP.Entities.Models.ProductSubGroup>

@{
    ViewBag.Title = "Product Sub Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 

<p>
    @Html.ActionLink("Create New", "AddProductSubGroup")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductGroupId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductSubGroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductGroupId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductSubGroupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>*@
    </tr>
}

</table>
