@model IEnumerable<ERP.Entities.Models.ProductSKU>

@{
    ViewBag.Title = "ProductSKUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ProductSKUs</h2>

<p>
    @Html.ActionLink("Create New", "AddProductSKU")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SKUSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MRP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasicPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductGrossWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductNetWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReOrderLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinimumStockLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaximumStockLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SKUSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MRP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BasicPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductGrossWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductNetWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReOrderLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinimumStockLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaximumStockLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>*@
    </tr>
}

</table>
