@model IEnumerable<ERP.Entities.Models.Tariff>

@{
    ViewBag.Title = "Tariffs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tariffs</h2>

<p>
    @Html.ActionLink("Create New", "AddTariff")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TariffCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TariffName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TariffCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TariffName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>*@
    </tr>
}

</table>
